/* ========== Fonts/Sizes ========== */
body,
.normal {
	font-family: Roboto;
	font-weight: 500;
	font-size: 14pt;
}

.title {
	font-family: Oswald;
	font-weight: 600;
	font-size: 36pt;
}

.head {
	font-family: Oswald;
	font-weight: 600;
	font-size: 18pt;
}

.subhead {
	font-family: Oswald;
	font-weight: 600;
	font-size: 14pt;
}

.small {
	font-family: Roboto;
	font-weight: 500;
	font-size: 10pt;
}

/* ========== Colors ========== */
.w3-container > div, .w3-container > a, table.dark > tr > * {
<<<<<<< HEAD
		background-color: #282828;
		color: White;
=======
	background-color: #282828;
	color: White;
>>>>>>> 8ecaf138f2e6eba16eec649be9e697f12c1a7a2c
}

.dblue {
	background-color: #293d4c;
}

.blue {
	background-color: #386280;
}

.gray {
	background-color: #dddedf;
	color: Black;
}

a {
	color: #3c78d8;
}

a:not(table *) {
	color: #9fc5e8;
}

/* ========== Adjustments ========== */
.board {
	font-family: Roboto;
	font-size: 11pt;
}

.eotm {
	font-family: Roboto;
	font-weight: 500;
	font-size: 36pt;
}

.justify {
	text-align: justify;
}

.flex, .button-grid {
	display: flex;
}

.flex > div, .button-grid > a {
	flex: 1;
	margin-left: 25px;
}

.button-grid > a {
	display: flex;
	height: 150px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.button-grid > a:hover {
	background-color: White;
	color: #282828;
}

.flex > div:first-child, .button-grid > a:first-child {
	margin-left: 0px;
}

.w3-container > a.blank {
	background-color: #cfe2f3;
	color: #cfe2f3;
}
/* ========== Tables ========== */
tr:nth-child(odd):not(thead > tr) {
	background-color: white;
	color: black;
}

tr:nth-child(even) {
	background-color: #e7e9eb;
	color: black;
}

.table25 td {
	width: 25%;
}
